// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-text{
  text-align: center;
  background-color: blue;
}

.list {
  background-color: gray;
  text-color: white;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.list p{
  text-size: 24px;
}

.list h1{
  text-size: 48px;
}

.list2 {
  background-color: red;
  text-color: white;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
